* {
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

main {
  background: #000;
  width: 50%;
  height: 400vh;
  
  padding: 50px 600px 50px 100px;
}

p{
  color: rgb(0, 0, 0);
  text-align: center;
  
}

hr {
  border: 30px solid black;
}

.paragrafo1,
.paragrafo2,
.paragrafo3,
.paragrafo4 {
  margin-top: 100%;
}
.exemplo1 {
  width: 350px;
  height: 200px;
  background: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.box1-exemplo1,
.box2-exemplo1,
.box3-exemplo1,
.box4-exemplo1 {
  width: 80px;
  background: #fff;
  margin: 10px;
  align-items: stretch;
}

/* ============================================== */

.exemplo2 {
  width: 350px;
  height: 200px;
  background: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1-exemplo2,
.box2-exemplo2,
.box3-exemplo2,
.box4-exemplo2 {
  width: 80px;
  height: 60px;
  background: #fff;
  margin: 10px;
}

/* ============================================== */

.exemplo3 {
  width: 100px;
  height: 300px;
  background: rebeccapurple;
  display: inline-block;
  flex-direction: column-reverse;
}

.box1-exemplo3,
.box2-exemplo3,
.box3-exemplo3,
.box4-exemplo3 {
  width: 80px;
  height: 60px;
  background: #fff;
  margin: 10px;
}

.section3 {
  display: flex;
}

.exemplo3-1 {
  width: 100px;
  height: 300px;
  background: rebeccapurple;
  display: inline-block;
  /* flex-direction: column-reverse; */
  
}

.box1-exemplo3-1,
.box2-exemplo3-1,
.box3-exemplo3-1,
.box4-exemplo3-1 {
  width: 80px;
  height: 60px;
  background: #fff;
  margin: 10px;
}

.exemplo3-1 .box1-exemplo3-1 {
  order: 3;
}
.exemplo3-1 .box2-exemplo3-1 {
  order: 1;
}
.exemplo3-1 .box3-exemplo3-1 {
  order: 2;
}
.exemplo3-1 .box4-exemplo3-1 {
  order: 4;
}

/* ============================================== */

:root {
  --width: 80px;
  --height: 60px;
  --cor-de-fundo-bloco: #fff;
  --margin-bloco: 10px
}
.exemplo4 {
  width: 350px;
  height: 200px;
  background: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: baseline;
  /* padding-top: 60px; */
}
.box1-exemplo4 {
  width: var(--width);
  height: var(--height);
  background-color: var(--cor-de-fundo-bloco) ;
  margin: var(--margin-bloco);
  margin-top: 10px;
}
.box2-exemplo4 {
  width: var(--width);
  height: 90px;
  background-color: var(--cor-de-fundo-bloco) ;
  margin: var(--margin-bloco);
  margin-top: 60px;
}
.box3-exemplo4 {
  width: var(--width);
  height: var(--height);
  background-color: var(--cor-de-fundo-bloco) ;
  margin: var(--margin-bloco);
}
.box4-exemplo4 {
  width: var(--width);
  height: var(--height);
  background-color: var(--cor-de-fundo-bloco) ;
  margin: var(--margin-bloco);
}

/* =============================================== */

.exemplo5 {
  width: 350px;
  height: 200px;
  background: rebeccapurple;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-content: center;
  /* padding-top: 60px; */
}
.box1-exemplo5 {
  width: var(--width);
  height: var(--height);
  background-color: var(--cor-de-fundo-bloco) ;
  margin: var(--margin-bloco);
  /* margin-top: 10px; */
}
.box2-exemplo5 {
  width: var(--width);
  height: var(--height);
  background-color: var(--cor-de-fundo-bloco) ;
  margin: var(--margin-bloco);
  /* margin-top: 60px; */
}
.box3-exemplo5 {
  width: var(--width);
  height: var(--height);
  background-color: var(--cor-de-fundo-bloco) ;
  margin: var(--margin-bloco);
}
.box4-exemplo5 {
  width: var(--width);
  height: var(--height);
  background-color: var(--cor-de-fundo-bloco) ;
  margin: var(--margin-bloco);
}
