* {
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

main {
  background: #000;
  width: 50%;
  height: 400vh;
}

p{
  color: rgb(0, 0, 0);
  text-align: center;
  
}

hr {
  border: 30px solid black;
}

.paragrafo1,
.paragrafo2,
.paragrafo3,
.paragrafo4 {
  margin-top: 100%;
}
.exemplo1 {
  width: 350px;
  height: 200px;
  background: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.box1-exemplo1,
.box2-exemplo1,
.box3-exemplo1,
.box4-exemplo1 {
  width: 80px;
  background: #fff;
  margin: 10px;
}

/* ============================================== */

.exemplo2 {
  width: 350px;
  height: 200px;
  background: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1-exemplo2,
.box2-exemplo2,
.box3-exemplo2,
.box4-exemplo2 {
  width: 80px;
  height: 60px;
  background: #fff;
  margin: 10px;
}

/* ============================================== */

.exemplo3 {
  width: 100px;
  height: 250px;
  background: rebeccapurple;
  display: flex;
  flex-direction: column-reverse;
}

.box1-exemplo3,
.box2-exemplo3,
.box3-exemplo3,
.box4-exemplo3 {
  width: 80px;
  height: 60px;
  background: #fff;
  margin: 10px;
}

.exemplo3-1 {
  width: 100px;
  height: 250px;
  background: rebeccapurple;
  display: flex;
  flex-direction: column-reverse;
  float: right;
}

.box1-exemplo3-1,
.box2-exemplo3-1,
.box3-exemplo3-1,
.box4-exemplo3-1 {
  width: 80px;
  height: 60px;
  background: #fff;
  margin: 10px;
}
