body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#list-task-item {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}

;